@import "tailwindcss";

@layer utilities {
  .perspective {
    perspective: 1000px;
  }

  .preserve-3d {
    transform-style: preserve-3d;
  }

  .backface-hidden {
    backface-visibility: hidden;
  }

  .rotate-y-0 {
    transform: rotateY(10deg);
  }

  .rotate-y-180 {
    transform: rotateY(180deg);
  }

  .rotate-y--180 {
    transform: rotateY(-180deg);
  }

  .transition-rotate {
    transition: transform 2s ease-in-out;
  }
}

